@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Solitreo&display=swap');
form{
    width: 450px;
    background-color: rgb(255 228 181);
    padding: 12px;
    border-top: 7px solid grey;
    border-right: 7px solid black;
    border-bottom: 7px solid black;
    border-left: 7px solid grey;
}
h1{
    margin: 0;
    background-color: rgb(205, 92, 92);
    color: white;
    padding: 20px 50px;
    text-align: center;
    font-family: 'Solitreo', cursive;
    font-weight: 200;
    font-size: xx-large;
}
form > *{
    display: block;
    margin-bottom: 15px;
    border-style: none;
}
input, button{
    text-indent: 5px;
    height: 40px;
    width: 33em;
}
button{
    background-color: rgb(255, 215, 0);
    border: 2px solid black;
}
textarea{
    width: 33em;
    margin-bottom: 25px;
}
